ol {
    background-color: yellow;
}
.par {
    color: green;
    
}
.impar {
    text-transform: uppercase;
}
.red {
    color: red;
}
.it {
    font-size: 40px;
    border: 1px solid black;
}
li em {
    font-size: 20px;
    font-weight: bold;
}
li {
    font-size: 20px;
}
.font-blue {
    color: blue;
}
.pink {
    background-color: pink;
}

#stack:hover {
    font-weight: bold;
    color: orange;
}
#w3s:hover {
    font-weight: bold;
    color: green;
}
#mdn:hover {
    font-weight: bold;
    color: black;
}
#dev:hover {
    font-weight: bold;
    color: yellow;
}
#trybe:hover {
    font-weight: bold;
    color: green;
}