.super-mario {
    width: 200px;
    position: absolute;
    z-index: ;
  }
  
  .goomba {
    width: 100px ;
    position: absolute;
   margin-top: 260px;
    left: 150px;
  }
  
  .baloon {
 position : absolute;
 left: 300px;
 top: 50px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    z-index: 1;
   
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    margin-top: 100px;
  }